/*
 *                                         
 *                __                       
 *   ____  _____ /\_\  _ __    __    ____  
 *  /',__\/\ '__`\/\ \/\`'__\/'__`\ /',__\ 
 * /\__, `\ \ \L\ \ \ \ \ \//\  __//\__, `\
 * \/\____/\ \ ,__/\ \_\ \_\\ \____\/\____/
 *  \/___/  \ \ \/  \/_/\/_/ \/____/\/___/ 
 *           \ \_\                         
 *            \/_/ 
 *
 */


/*
 * Contents
 *
 * Nothing
 */

img {
  max-width: 100%;
  height: auto;
}

h1.page-title {
  font-weight: normal;
  padding-bottom: 5px;
  border-bottom: 1px solid #EEE;
}

/**
 * Buttons
 */

 .button, button, input[type='submit'], input[type='button'], input[type='image'], input[type='reset'], a.button:visited, .toggle input + * {
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 border: none;
 box-sizing: content-box;
 display: inline-block;
 font-size: 1em;
 height: 1.5em;
 line-height: 1.5em;
 text-decoration: none;
 vertical-align: middle;
 background: #ac4142;
 color: #FFF;
 border-radius: 0.2em;
 cursor: pointer;
 margin: 0.3em;
 padding: 0.3em 0.9em;
 -webkit-transition: all 0.1s ease;
 transition: all 0.1s ease;
 height: 1.3em;
 line-height: 1.5em;
 padding: 0.3em 0.9em 0.5em;
 margin: 0.3em 0.3em 0.3em;
 box-shadow: inset 0 0 0 100em transparent, inset 0 -0.2em rgba(0, 0, 0, 0.3); }
 /* Interactivity */
 .button:hover, button:hover, input[type='submit']:hover, input[type='button']:hover, input[type='image']:hover, input[type='reset']:hover, .button:focus, button:focus, input[type='submit']:focus, input[type='button']:focus, input[type='image']:focus, input[type='reset']:focus, .toggle:hover input + *, .toggle input:focus + * {
 color: #FFF;
 -webkit-transition: all 0.1s ease, box-shadow 0s ease;
 transition: all 0.1s ease, box-shadow 0s ease;
 box-shadow: inset 0 0 0 100em rgba(0, 0, 0, 0.1);
 margin: 0.4em 0.3em 0.3em;
 padding: 0.3em 0.9em 0.4em;
 box-shadow: inset 0 0 0 1000em rgba(0, 0, 0, 0.1), inset 0 -0.1em rgba(0, 0, 0, 0.3); }
 .button:active, button:active, input[type='submit']:active, input[type='button']:active, input[type='image']:active, input[type='reset']:active, .toggle input:active + *, .toggle input:checked + * {
 box-shadow: inset 0 0 0 100em rgba(0, 0, 0, 0.3);
 margin: 0.5em 0.3em 0.3em;
 padding: 0.3em 0.9em;
 box-shadow: inset 0 0 0 1000em rgba(0, 0, 0, 0.3), inset 0 0.1em 0.1em rgba(0, 0, 0, 0.3); }
