/*
 *                                         
 *                __                       
 *   ____  _____ /\_\  _ __    __    ____  
 *  /',__\/\ '__`\/\ \/\`'__\/'__`\ /',__\ 
 * /\__, `\ \ \L\ \ \ \ \ \//\  __//\__, `\
 * \/\____/\ \ ,__/\ \_\ \_\\ \____\/\____/
 *  \/___/  \ \ \/  \/_/\/_/ \/____/\/___/ 
 *           \ \_\                         
 *            \/_/ 
 *
 */


/*
 * Contents
 *
 * Nothing
 */

img {
  max-width: 100%;
  height: auto;
}

h1.page-title {
  font-weight: normal;
  padding-bottom: 5px;
  border-bottom: 1px solid #EEE;
}